
<ul class="topnav">
  <li><a class="active" href="/">Home</a></li>
  <li><a href="/mens">Mens</a></li>
  <li><a href="/ladies">Ladies</a></li>
  <li><a href="/sale">Special Offers</a></li>
  <li><a href="/services">Services</a></li>
  <li class="right"><a href="/about">About</a></li>
</ul>
