<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
        {{> header}}

{{> nav}}
<p></p>

    <p><CENTER><img src="our_logo.png" alt="XXX Shoes" height="349" width="650" align="Center"></CENTER></p>

<p></p>

      <p>Our collection of hand crafted men's shows are featured below. Click on any pair to purchase!</p>

    {{> footer}}
  </body>
</html>
