<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
        {{> header}}

{{> nav}}
<p></p>

    <p><CENTER><img src="our_logo.png" alt="XXX Shoes" height="349" width="650" align="Center"></CENTER></p>

<p></p>


<h2>Our heritage</h2>
<p>
At La Bella Scarpa, the Laurent family has been making traditional shoes for as long as anyone can remember.

We are a family business, started by our great-grandfather Pierre. Pierre had a passion for quality, stylish and contemporary footwear. He believed that if you created a great product then customers would come and stay with you. Over the last 100 years we have followed in his footsteps and our values are the same today!
</p>

<h2>How do I order?</h2>
<p>
You can order your shoes from this website, alternatively you can phone or e-mail us (details below).
We only sell through selected retailers who are all specially and routinely trained by us to measure and ensure our shoes fit you perfectly. Our shoes are handmade, it takes us 3 months to make your shoes from when the order is received at our workshop. You will be mailed periodically with updates as your shoes progress through the process. 

You can buy shoes off the shelf. We make shoes from an D through to G fitting for our stockists.
</p>

<h2>How to care for my shoes?</h2>
<p>
We strongly recommend that you use shoe trees for your shoes as they help air and maintain the shape of the shoes. Always use a shoe horn and polish your shoes regularly. Never wear new leather soled shoes for the first time in wet weather and always allowed to dry naturally when worn in the wet, preferably with Alfred Sargent shoes trees inserted.
Interested in becoming an Alfred Sargent Stockist?
Please contact us on mto@alfred-sargent.co.uk for further details.
Concerned about your privacy?
We take this issue very seriously.
If you contact us and provide an email address or contact number we will keep them on file. Should you wish for us to remove the details, please let us know.
</p>

<h2>How do I get my shoes repaired?</h2>
<p>
Are you looking renovate or repair your existing Alfred Sargent shoes?
We offer a full refurbishment service. This can range from a full re-sole and re-heel to just a refinishing of the edges and uppers. We do not accept shoes for repair that have been repaired by anyone other than ourselves.
</p>




    {{> footer}}
  </body>
</html>
