<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>La Bella Scarpa</title>
  </head>
  <body>
    {{> header}}

{{> nav}}
<p></p>

    <p><CENTER><img src="our_logo.png" alt="XXX Shoes" height="349" width="650" align="Center"></CENTER></p>

<p></p>
<center><h2 class="hdtxt">Welcome to La Bella Scarpa!</h2></center>
      <p class="gentxt">
    

<p class="gentxt">
La Bella Scarpa shoes have been synonymous with quality shoemaking since for over 120 years. We are a family business and have been working out of Les Romarins in the Provenance region of France. Our handcrafted footwear is crafted to impeccable standards using only the very finest materials from across Europe.
</p>

<p class="gentxt">
Over four generations we have acquired an enviable reputation for the most excellent made to order service, enabling our clients to compliment their wardrobe with the vast range of styles we offer for every occasion.
</p>

<p class="gentxt">
At La Bella Scarpa we are constantly striving to improve the service we provide for our global clientele, which includes a full refurbishment service ranging from a full re-sole and re-heel to a simple refinishing of edges and uppers.
</p>

<p class="gentxt">
We offer private label development work in addition to our ranges.
</p>



<footer>
<p></p>
<hr>
<p class="footTxt">Created by BJR - Copyright {{getCurrentYear}}</p>
<p></p>
</footer>

  </body>

</html>
