<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>La Bella Scarpa: Ladies Shoes</title>
     {{> header}}
  </head>

  <body>

 {{> nav}}

<p></p>

    <p><CENTER><img src="our_logo.png" alt="XXX Shoes" height="349" width="650" align="Center"></CENTER></p>

<p></p>

      <p><CENTER>Our ladies collection of hand crafted shoes are featured below. Click on any pair to purchase!</CENTER></p>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h4><Center>New York</CENTER></h4>
      <p><img src="w_b_blk.png" alt="New York" height="112" width="275"></p>
      <p>Patent-leather slippers bring the legacy of old-world glamour to the modern fashion scene, rendered in glossy patent-leather and finished with the label's signature bow at the toe. Gold-tone, engraved hardware adds poise to this charming pair.</p>
      <p>
<ul type="disc">
  <li>Slip-on</li>
  <li>Almond toe, bow detail at toe, gold-tone hardware</li>
  <li>Leather upper, leather lining, leather sole</li>
</ul>
</p>

    </div>
    <div class="col-sm-4">
      <h4><Center>Silk</CENTER></h4>
      <p><img src="w_c_blk.png" alt="Falcon" height="126" width="276"></p>
      <p>Indulge in elegant aesthetic with these Belle Vivier courts in luxurious silk satin. Belle Vivier, one of the icons of the French label, originates from 1965. The comfortable slanted block heel and crystal-embellished buckle will add sparkle to stride.</p>
<p>
<ul type="disc">
  <li>Commando Dainite Soles</li>
  <li>Fully Leather Lined</li>
  <li>G fitting only</li>
</ul>
</p>
    </div>
    <div class="col-sm-4">
      <h4><Center>Stroll</CENTER></h4>
      <p><img src="w_o_blk.png" alt="Stroll" height="220" width="321"></p>
      <p>Fashion insiders can't get enough of Scarpa's effortless Parisian style and the label's Stroll Jodhpur ankle boots are set to be another hit. Crafted from supple Italian leather, this heeled pair is the perfect way to add subtle edge to your wardrobe.
</p>
      <p>
<ul type="disc">
  <li>Scarpa leather ankle boots, with ankle buckle fastening</li>
  <li>Pointed toe, wrap-around silver-toned buckle detail, block heel</li>
  <li>Leather upper, leather lining, leather sole</li>
  <li>Heel height 1.6"</li>
</ul>
</p>
    </div>



  </div>

<div class="row">
    <div class="col-sm-4">
      <h4><CENTER>Boston</CENTER></h4>
      <p><img src="w_b_brn.png" alt="Boston" height="113" width="285"></p>
      <p>Our loafers have been reworked with a slimmer profile and gold-toned horsebit detail. Made from premium Italian leather, this newly streamlined pair features a classic apron toe and flat heel, ensuring an androgynous approach to smart-casual events.</p>
<p>
<ul type="disc">
  <li>Apron toe, gold-toned horsebit detail, flat heel</li>
  <li>Slip-on</li>
  <li>Leather upper, leather lining, leather sole</li>
</ul>
</p>

    </div>
    <div class="col-sm-4">
      <h4><Center>Cashmere</CENTER></h4>
      <p><img src="w_c_brn.png" alt="Cashmere" height="122" width="280"></p>
      <p>
This is the go-to for classic luxury and the Cashmere loafer is rich in signature detail. The timeless mule silhouette is crafted in smooth black leather, punctuated with our house’s iconic antique gold-toned S set upon their recognisable trio of blue red and green. Partner with frayed-hems jeans and understated jewellery.</p>
<p>
<ul type="disc">
  <li>Scarpa leather mules</li>
  <li>Fully Leather Lined</li>
  <li>Slip on</li>
  <li>Square toe, gold-toned S detail and woven strap, pearl detailing at heel</li>
</ul>
</p>
    </div>
    <div class="col-sm-4">
      <h4><Center>Ramble</CENTER></h4>
      <p><img src="w_o_brn.png" alt="Ramble" height="220" width="314"></p>
      <p>A striking a balance between Parisian elegance and modern attitude, the Ramble boots tick all the boxes. A sleek silhouette is defined by an elongated pointed toe, while buttery suede references the brand's enduring fascination with Western styling. Understated yet distinctive, these boots offer an edgy choice to match with distressed jeans and a leather jacket.</p>
<p>
<ul type="disc">
  <li>Scarpa suede boots</li>
  <li>Zip fastening at side</li>
  <li>Pointed toe, tonal stitching, pull tab at rear</li>
</ul>
</p>
    </div>


    
  </div>

<div class="row">
    <div class="col-sm-4">
      <h4><CENTER>Chicago</CENTER></h4>
      <p><img src="w_b_brg.png" alt="Chicago" height="95" width="280"></p>
      <p>The flats define elegance with their lustrous silk satin and crystal-encrusted buckle. With a d'Orsay design and round toe, these flats will add a little Hollywood glamour to your day-to-night wardrobe.</p>
      <p>
<ul type="disc">
  <li>Round toe, crystal-embellished buckle at vamp, d'Orsay design</li>
  <li>Slip on</li>
  <li>Silk-satin upper, leather sole</li>
  <li>Comfort insoles</li>
</ul>
</p>

    </div>
    <div class="col-sm-4">
      <h4><Center>Merino</CENTER></h4>
      <p><img src="w_c_brg.png" alt="Merino" height="190" width="276"></p>
      <p>A modern twist on a Scarpa classic, the Merino sandals re-work our label’s signature caged silhouette. Experimenting with coverage and exposure of the foot, the pair gives a sexy and confident solution to your everyday footwear. Finished with a zip fastening at the back, our creative direction once again sees couture-like quality and bespoke shoemaking skills at the heart of these heels.</p>
      <p>
<ul type="disc">
  <li>Scarpa suede heeled sandals</li>
  <li>Heel zip fastening</li>
  <li>Block heel, open toe, caged</li>
  <li>Heel height 1.4" / 35mm</li>
</ul>
</p>
    </div>
    <div class="col-sm-4">
       <h4><Center>Roving</CENTER></h4>
      <p><img src="w_o_brg.png" alt="Roving" height="220" width="273"></p>
      <p>Crafted from leather, these ankle boots demonstrate Western influences with their almond-toe silhouette and contrast stacked Cuban heel. The decorative side zip detail injects the pair with modern appeal.</p>
<p>
<ul type="disc">
  <li>Side zip fastening</li>
    <li>Almond toe, outer zip detail, stacked heel
Leather upper, leather lining, resin sole</li>
  <li>Heel height 3.5"</li>
</ul>
</p>
    </div>


    
  </div>


</div>


<footer>
<p></p>
<hr>
<p class="footTxt">Created by BJR - Copyright {{getCurrentYear}}</p>
<p></p>
</footer>
  </body>
</html>
