<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>La Bella Scarpa: Mens Shoes</title>
<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  </head>

  <body>
    {{> header}}
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
 

{{> nav}}
<p></p>

    <p><CENTER><img src="our_logo.png" alt="XXX Shoes" height="349" width="650" align="Center"></CENTER></p>

<p></p>

      <p><CENTER>Our collection of hand crafted men's shoes are featured below. Click on any pair to purchase!</CENTER></p>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h4><Center>Falcon</CENTER></h4>
      <p><img src="m_b_blk.jpg" alt="Falcon" height="212" width="257"></p>
      <p>Premium plain derby shoe, made using the best calf leathers.</p>
      <p>
<ul type="disc">
  <li>Goodyear welted leather soles</li>
  <li>Fully leather lined</li>
  <li>E-G fitting</li>
  <li>Leather insoles</li>
</ul>
</p>

    </div>
    <div class="col-sm-4">
      <h4><Center>Mayfair</CENTER></h4>
      <p><img src="m_c_blk.jpg" alt="Falcon" height="190" width="276"></p>
      <p>Derby lace-up with an apron and a contrasting palette of black and plum for a uniquely refined aesthetic.</p>
      <p>
<ul type="disc">
  <li>Commando Dainite Soles</li>
  <li>Fully leather lined</li>
  <li>G fitting only</li>
</ul>
</p>
    </div>
    <div class="col-sm-4">
      <h4><Center>Ascot</CENTER></h4>
      <p><img src="m_o_blk.png" alt="Ascot" height="255" width="265"></p>
      <p>Classic Chelsea boot in black calf leather.</p>
      <p>
<ul type="disc">
  <li>Goodyear welted Diamond rubber sole with quarter rubber tip</li>
  <li>Fully leather lined with full leather insole</li>
  <li>F fitting only</li>
</ul>
</p>
    </div>



  </div>

<div class="row">
    <div class="col-sm-4">
      <h4><CENTER>Eagle</CENTER></h4>
      <p><img src="m_b_brn.jpg" alt="Eagle" height="212" width="257"></p>
      <p>Premium plain oxford shoe, made using the best calf leathers.</p>
      <p>
<ul type="disc">
  <li>Goodyear welted leather soles</li>
  <li>Fully leather lined</li>
  <li>E-G fitting</li>
  <li>Leather insoles</li>
</ul>
</p>

    </div>
    <div class="col-sm-4">
      <h4><Center>Shoreditch</CENTER></h4>
      <p><img src="m_c_brn.jpg" alt="Falcon" height="190" width="276"></p>
      <p>Derby shoe with a fringe detail on the upper, contributing to this style's unique and contemporary aesthetic. This version comes in an elegant brown shade with contrast stitching.</p>
      <p>
<ul type="disc">
  <li>Victory Dainite Soles</li>
  <li>Fully leather lined</li>
  <li>C-F fitting only</li>
</ul>
</p>
    </div>
    <div class="col-sm-4">
      <h4><Center>Draycott</CENTER></h4>
      <p><img src="m_o_brn.png" alt="Draycott" height="255" width="265"></p>
      <p>Capped Derby boot in Almond grain.</p>
      <p>
<ul type="disc">
  <li>Goodyear welted Dainite rubber sole</li>
  <li>Fully leather lined with full leather insole</li>
  <li>F fitting only</li>
</ul>
</p>
    </div>


    
  </div>

<div class="row">
    <div class="col-sm-4">
      <h4><CENTER>Hawk</CENTER></h4>
      <p><img src="m_b_brg.jpg" alt="Hawk" height="212" width="257"></p>
      <p>Premium semi-brogue shoe, available in mahogany or burgundy burnished calf leathers.</p>
<p>
<ul type="disc">
  <li>Goodyear welted leather soles</li>
  <li>Fully leather lined</li>
  <li>E-G fitting</li>
  <li>Leather insoles</li>
</ul>
</p>

    </div>
    <div class="col-sm-4">
      <h4><Center>Hammersmith</CENTER></h4>
      <p><img src="m_c_brg.jpg" alt="Falcon" height="190" width="276"></p>
      <p>A classic full brogue Oxford, a style that historically was constructed using untanned hide whose perforations allowed water to drain from the shoes when the wearer crossed wet terrains. The unique polished binder finish is applied to full grain leather, giving the shoes a beautiful, deep shine.</p>
      <p>
<ul type="disc">
  <li>Leather sole</li>
  <li>Fully leather lined</li>
  <li>C-F fitting only</li>
</ul>
</p>
    </div>
    <div class="col-sm-4">
       <h4><Center>Didcot</CENTER></h4>
      <p><img src="m_o_brg.png" alt="Didcot" height="255" width="265"></p>
      <p>Fiennes Derby Veldtschoen country boot in burgundy grain leather.</p>
<p>
<ul type="disc">
  <li>Bellows tongue</li>
    <li>Veldtschoen construction with Commando rubber sole</li>
  <li>Fully leather lined</li>
  <li>C-F fitting only</li>
</ul>
</p>
    </div>


    
  </div>


</div>
   <footer>
<p></p>
<hr>
<p class="footTxt">Created by BJR - Copyright {{getCurrentYear}}</p>
<p></p>
</footer>
  </body>
</html>
