<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>La Bella Scarpa: Sale Items</title>
     {{> header}}
  </head>

  <body>

 {{> nav}}


<p></p>

    <p><CENTER><img src="our_logo.png" alt="XXX Shoes" height="349" width="650" align="Center"></CENTER></p>

<p></p>
 <p class="gentxt">Every so often we run a sale and tose items will be listed below.</p>

<footer>
<p></p>
<hr>
<p class="footTxt">Created by BJR - Copyright {{getCurrentYear}}</p>
<p></p>
</footer>
  </body>
</html>
