<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>La Bella Scarpa: Services</title>
     {{> header}}
  </head>

  <body>

 {{> nav}}









    <footer>
      <p></p>
      <hr>
      <p class="footTxt">Created by BJR - Copyright {{getCurrentYear}}</p>
      <p></p>
    </footer>
  </body>
  </html>
