<style>
body {margin: 0;}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
    font-family: 'Open Sans', 'Helvetica-Neue',Helvetica,Arial, sans-serif;
    font-size:16px;
    line-height: 20px;
    font-weight: bold;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}


p.gentxt{
color:#333333;
font-family: 'Open Sans', 'Helvetica-Neue',Helvetica,Arial, sans-serif;
padding-left:40px;
}

p.footTxt{
color: #333333;
text-align: center;
font-family: 'Open Sans', 'Helvetica-Neue',Helvetica,Arial, sans-serif;
}



h2.hdtxt{
color: #1a1a1a;
font-family: 'Open Sans', 'Helvetica-Neue',Helvetica,Arial, sans-serif;
padding-left:40px;
}


</style>

